<div class="row">
    <p class="big_title" style="margin-top: 60px;">
        Power Your Next Solution
    </p>
    <p class="big_title">
        with our Software and AI
    </p>
</div>

<div class="row">
    <p class="description">
        Creating bespoke solutions for your software and apps
    </p>
</div>

<div class="row" style="display: flex; justify-content: center; margin-top: 30px;">
    <button id="quoteButton" class="quote-btn">Quote Now</button>
</div>

<div class="row" style="margin-top: 20px;">
    <p class="description" style="font-size: 12pt;">
        Average response time: 1 hour
    </p>
</div>

<div class="row topimg-container" style="margin-top: 20px;">
    <img src="/assets/img/imgtop.png" alt="" class="topimg">
</div>

<div class="row" style="margin-top: 60px;">
    <p class="sub_title">Portfolio</p>
</div>

<div class="row">
    <p class="description">L & S Tech LTD was established in May 2019 at the Computer Science Department of the University of Aberdeen. Our team consists of talented university graduates and Ph.D students.Our main business is computer software technology and deep learning algorithms. We have AI expertise and are commited to building a bridge between knowledge and industry, using machine learning and data mining technologies to support our customers' decision-making. Check out these projects we are currently developing:</p>
</div>

<div class="row">
    <div class="card-container col-12 col-md-4">
        <a class="card" href="https://www.codelion.ai/">
            <img src="/assets/img/lion.png" alt="Codelion Platform">
            <h3>Codelion Platform</h3>
            <p class="description">COMPREHENSIVE EDUCATION AND GAME CREATING PLATFORM</p>
        </a>
    </div>
    <div class="card-container col-12 col-md-4">
        <a class="card">
            <img src="/assets/img/serenainew.jpeg" alt="SerenAI">
            <h3>SerenAI</h3>
            <p class="description">GPT CHAT SMART TOOL FOR EDUCATION</p>
        </a>
    </div>
    <div class="card-container col-12 col-md-4">
        <a class="card">
            <img src="/assets/img/castle1.png" alt="Colistory AI">
            <h3>Colistory AI</h3>
            <p class="description">GENERATE STORIES FOR KIDS</p>
        </a>
    </div>
</div>

<div class="row">
    <div class="card-container col-12 col-md-4">
        <a class="card" href="https://smartlearnstudio.com/">
            <img src="/assets/img/kids.png" alt="Codelion Platform">
            <h3>Smart Learn Studio</h3>
            <p class="description">TEACHING PLATFORM THAT DELIVERS BESPOKE TEACHING AND COURSES FOR STUDENTS OVER 16</p>
        </a>
    </div>
</div>

<div class="container-fluid big-gray" style="padding-bottom: 30px;">
    <div class="container">
        <div class="row" style="margin-top: 30px;">
            <p class="sub_title">The Executive Team</p>
        </div>
        <div class="row">
            <p class="description">We are a technology company based in Aberdeen, United Kingdom that helps businesses make the most of their data assets through AI and Machine Learning. We help organisations transition into the data-driven age and gain cognitive insight from their data supply chain.</p>
        </div>
        <div class="row" style="width: 100%; margin-top: 10px;">
            <div class="row">
                <div class="col-2">
                    <div class="team_card">
                        <img src="/assets/img/s2.png">
                        <h3>Shibo Mitchell</h3>
                        <p class="description">Founder</p>
                        <p class="description" style="display: none;">She is a master's student in artificial intelligence in the UK and has four entrepreneurial experiences. Having lived in more than 30 countries, she is well versed in cross-cultural technology innovation. Leading the team to cooperate with top universities in the UK to create original AI-driven projects.</p>
                        <button class="toggle-button">More</button>
                    </div>
                </div>
                <div class="col-2">
                    <div class="team_card">
                        <img src="/assets/img/marcin2.png">
                        <h3>Marcin Jedrol</h3>
                        <p class="description">Lead Developer</p>
                        <p class="description" style="display: none;">Marcin is a seasoned full stack developer with variety of experience in development and business. His speciality is creating applications and games from a raw idea to a ready product.</p>
                        <button class="toggle-button">More</button>
                    </div>
                </div>
                <div class="col-2">
                    <div class="team_card">
                        <img src="/assets/img/pang.jpg">
                        <h3>Dr. Wei Pang</h3>
                        <p class="description">Scientific Advisor</p>
                        <p class="description" style="display: none;">Dr Pang is a Associate Professor at Heriot-Watt University. He is a computer scientist who specialises in Bio-inspired Computing, Machine Learning, and Explainable AI.</p>
                        <button class="toggle-button">More</button>
                    </div>
                </div>
                <div class="col-2">
                    <div class="team_card">
                        <img src="/assets/img/j1.png">
                        <h3>Dr. Yingfang Yuan</h3>
                        <p class="description">Co-founder, AI Special Supervisor</p>
                        <p class="description" style="display: none;">Dr Yuan is a Research Fellow at Heriot-Watt University, specializing in Machine Learning, Deep Learning, especially Graph Neural Networks and AutoML. He completed his Ph.D. in 2023 and holds an MSc in Big Data and High-Performance Computing from the University of Liverpool. Yingfang also delves into Blockchain technology, trustworthy AI, and has a knack for applying AI to address real-world challenges.</p>
                        <button class="toggle-button">More</button>
                    </div>
                </div>
                <div class="col-2">
                    <div class="team_card">
                        <img src="/assets/img/g1.png">
                        <h3>Kefan Chen</h3>
                        <p class="description">Game Developer</p>
                        <p class="description" style="display: none;">Kenfan Chen is a current Ph.D. candidate in Computer Science at Heriot-Watt University, specializing in Explainable AI and Human-Computer Interaction. He earned his Master's degree in Artificial Intelligence with Distinction from the University of Aberdeen in 2019. Before his Ph.D, he worked as a research and development engineer at a top-tier AAA game company. Kenfan's current passions include game development and AI algorithm research.</p>
                        <button class="toggle-button">More</button>
                    </div>
                </div>
                <div class="col-2">
                    <div class="team_card">
                        <img src="/assets/img/l1.png">
                        <h3>Lewis</h3>
                        <p class="description">Frontend Developer</p>
                        <p class="description" style="display: none;">Lewis is a front-end development engineer with experience in a multinational gaming company. He has a strong academic background in computer science and specialize in creating engaging user interfaces and improving web page performance. He is passionate about new technologies and committed to enhancing user experience through technological innovation.</p>
                        <button class="toggle-button">More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 80px;">
    <p class="sub_title">Vision</p>
</div>
<div class="row">
    <p class="description">As professional Computer Scientists based in the UK, we are dedicated to upholding the principles of scientific inquiry from the inception of research ideas to conducting experiments and analyzing results. Our experience and skills enable us to explore diverse topics in our field. If you're interested in knowing more about our research interests, past and present work, or simply want to connect, feel free to contact us. We're excited to hear from you.</p>
</div>

<div class="row" style="margin-top: 80px;">
    <p class="sub_title">Areas Of Work</p>
</div>
<div class="row" style="margin-top: 30px;">
    <div class="col-4">
        <div class="image-box">
            <img src="/assets/img/photo-1624996379697-f01d168b1a52.avif" alt="Description Image" class="image">
            <div class="left-buttom-text">Solutions: Development and SAAS</div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <p class="small_title">Businesses and B2B</p>
            <div class="line"></div>
            <div class="row">
                <p class="small_title" style="font-size: 15px; color: #515151;">We create bespoke software and artificial intelligence solutions for our business clients.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="image-box">
            <img src="/assets/img/photo-1550831107-1553da8c8464.avif" alt="Description Image" class="image">
            <div class="left-buttom-text">Solutions: Advanced Software</div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <p class="small_title">Healthcare</p>
            <div class="line"></div>
            <div class="row">
                <p class="small_title" style="font-size: 15px; color: #515151;">We cooperate with healthcare bodies, general practices and hospitals to help with the development and research.</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="image-box">
            <img src="/assets/img/photo-1509062522246-3755977927d7.avif" alt="Description Image" class="image">
            <div class="left-buttom-text">Solutions: Materials and Resources</div>
        </div>
        <div class="row" style="margin-top: 30px;">
            <p class="small_title">Education</p>
            <div class="line"></div>
            <div class="row">
                <p class="small_title" style="font-size: 15px; color: #515151;">We create materials and curriculum based on British Universities for children and students</p>
            </div>
        </div>
    </div>
</div>


<div class="row" style="margin-top: 80px;">
    <p class="sub_title">Pricing And Enquiries</p>
</div>
<div class="row">
    <p class="description">We price the work based on the user's requirements. Please contact us to get a quote</p>
</div>
<div class="row">
    <div class="col-6">
        <div class="price_card">
            <p class="price_text">PREMIUM</p>
            <p class="price_text" style="font-size: 35px; font-weight: 600;">CONTACT US</p>
            <p class="price_text">Per project</p>
        </div>
    </div>
    <div class="col-6">
        <div class="price_card" style="background-color: rgb(255, 255, 255);">
            <p class="price_text" style="color: rgb(70, 70, 70);">PREMIUM</p>
            <p class="price_text" style="font-size: 35px; font-weight: 600; color: rgb(70, 70, 70);">CONTACT US</p>
            <p class="price_text" style="color: rgb(70, 70, 70);">Per project</p>
        </div>
    </div>
</div>

<div class="container-fluid big-purpple" style="padding-top: 60px; padding-bottom: 60px;">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-6">
                <p class="quote_title">Get A Quote</p>
                <p class="contact-info">Ask us everything and we would love to hear from you</p>
                <p class="contact-info"><i class="fas fa-map-marker-alt"></i> Nash House, Old Oak Ln, London NW10 6FF<br>Polo Park, Aberdeen, AB21 9JW</p>
                <p class="contact-info"><i class="fas fa-phone-alt"></i> +44 0780 5341264</p>
                <p class="contact-info"><i class="fas fa-envelope"></i> admin@lstech.ai</p>
            </div>
            <div class="col-6 col-md-6" style="justify-content: right; display: flex;">
                <div class="quote-card">
                    <p class="quote-card-text">Welcome to L&STech</p>
                    <button id="ContactBn" class="quote-card-button" style="margin-top: 20px;">Contact Us</button>
                    <p class="quote-card-text" style="color: #717171; font-weight: 500; font-size: 15px; margin-top: 30px;">Feel free to reach out to us if you have any questions or inquiries. We're here to help!</p>
                </div>
            </div>
        </div>
    </div>
    
</div>








