<nav class="navbar navbar-expand-lg navbar-color navbar-feature">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img class="nav-logo" src="/assets/img/lstech.jpeg" alt="logo">
        </a>
        <a class="navbar-brand navbar-text-features" href="/">
            {{ site.title }}
            <p class="navbar-text-features" style="display: inline; font-size: 10px; vertical-align: super;position: relative; top: -7px;">TM</p>
        </a>

    <div class="collapse navbar-collapse d-none d-lg-block" id="navbarNav">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item {% if page.url == '/' %}active{% endif %}">
                <a class="nav-link normal_font" href="/">Home</a>
            </li>
            <li class="nav-item {% if page.url == '/products/' %}active{% endif %}">
                <a class="nav-link normal_font" href="/products/">Products</a>
            </li>
            <li class="nav-item {% if page.url == '/team/' %}active{% endif %}">
                <a class="nav-link normal_font" href="/team/">Team</a>
            </li>
            <li class="nav-item {% if page.url == '/partner/' %}active{% endif %}">
                <a class="nav-link normal_font" href="/partner/">Partner</a>
            </li>
            <li class="nav-item">
                <a id="quoteButton1" class="nav-link normal_font" style="cursor: pointer;">Contact</a>
            </li>
          </ul>
      </div>
    </div>
</nav>
