<div class="row">
    <p class="big_title" style="margin-top: 60px;">
        Partners
    </p>
</div>

<div class="row">
    <p class="description">
        We are collaborating with local education bodies
    </p>
</div>


<div class="row">
    <div class="col-12 col-md-4 partner_img">
        <a href="https://www.abdn.ac.uk/" target="_blank">
            <img src="/assets/img/abe.png" alt="Abe" class="partner_img_feature">
        </a>
    </div>
    <div class="col-12 col-md-4 partner_img">
        <a href="https://www.rgu.ac.uk/" target="_blank">
            <img src="/assets/img/rgu.png" alt="Another Image" class="partner_img_feature">
        </a>
    </div>
    <div class="col-12 col-md-4 partner_img">
        <a href="https://www.hw.ac.uk/" target="_blank">
            <img src="/assets/img/hw.png" alt="Another Image 2" class="partner_img_feature">
        </a>
    </div>
</div>


