<div class="row">
    <p class="big_title" style="margin-top: 60px;">
        Products
    </p>
</div>

<div class="row">
    <p class="description">
        Creating bespoke solutions for your software and apps
    </p>
</div>


<div class="row">
    <div class="card-container col-12 col-md-4">
        <a class="card" href="https://www.codelion.ai/">
            <img src="/assets/img/lion.png" alt="Codelion Platform">
            <h3>Codelion Platform</h3>
            <p class="description">COMPREHENSIVE EDUCATION AND GAME CREATING PLATFORM</p>
        </a>
    </div>
    <div class="card-container col-12 col-md-4">
        <a class="card">
            <img src="/assets/img/serenainew.jpeg" alt="SerenAI">
            <h3>SerenAI</h3>
            <p class="description">GPT CHAT SMART TOOL FOR EDUCATION</p>
        </a>
    </div>
    <div class="card-container col-12 col-md-4">
        <a class="card">
            <img src="/assets/img/castle1.png" alt="Colistory AI">
            <h3>Colistory AI</h3>
            <p class="description">GENERATE STORIES FOR KIDS</p>
        </a>
    </div>
</div>

<div class="row">
    <div class="card-container col-12 col-md-4">
        <a class="card" href="https://smartlearnstudio.com/">
            <img src="/assets/img/kids.png" alt="Codelion Platform">
            <h3>Smart Learn Studio</h3>
            <p class="description">TEACHING PLATFORM THAT DELIVERS BESPOKE TEACHING AND COURSES FOR STUDENTS OVER 16</p>
        </a>
    </div>
</div>







