<div class="row">
    <p class="big_title" style="margin-top: 60px;">
        Teams
    </p>
</div>

<div class="row" style="background-color: rgb(244, 244, 244); margin-top: 30px;">
    <div class="row">
        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            <h2 class="team-title" style="margin-left: 50px;">Founder</h2>
        </div>
        <div class="col-4 col-md-4">
            <img src="/assets/img/s2.png" class="team_avatar">
        </div>
        <div class="col-8 col-md-8">
            <h3>Shibo Mitchell</h3>
            <p class="description" style="text-align: left;">She is a master's student in artificial intelligence in the UK and has four entrepreneurial experiences. Having lived in more than 30 countries, she is well versed in cross-cultural technology innovation. Leading the team to cooperate with top universities in the UK to create original AI-driven projects.</p>
        </div>
    </div>
</div>

<div class="row" style="background-color: rgb(244, 244, 244); margin-top: 50px;">
    <div class="row">
        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            <h2 class="team-title" style="margin-left: 50px;">Lead Developer</h2>
        </div>
        <div class="col-4 col-md-4">
            <img src="/assets/img/marcin2.png" class="team_avatar">
        </div>
        <div class="col-8 col-md-8">
            <h3>Marcin Jedrol</h3>
            <p class="description" style="text-align: left;">Marcin is a seasoned full stack developer with variety of experience in development and business. His speciality is creating applications and games from a raw idea to a ready product.</p>
        </div>
    </div>
</div>

<div class="row" style="background-color: rgb(244, 244, 244); margin-top: 50px;">
    <div class="row">
        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            <h2 class="team-title" style="margin-left: 50px;">Scientific Advisor</h2>
        </div>
        <div class="col-4 col-md-4">
            <img src="/assets/img/pang.jpg" class="team_avatar">
        </div>
        <div class="col-8 col-md-8">
            <h3>Dr. Wei Pang</h3>
            <p class="description" style="text-align: left;">Dr Pang is a Associate Professor at Heriot-Watt University. He is a computer scientist who specialises in Bio-inspired Computing, Machine Learning, and Explainable AI.</p>
        </div>
    </div>
</div>

<div class="row" style="background-color: rgb(244, 244, 244); margin-top: 50px;">
    <div class="row">
        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            <h2 class="team-title" style="margin-left: 50px;">Co-founder, AI Special Supervisor</h2>
        </div>
        <div class="col-4 col-md-4">
            <img src="/assets/img/j1.png" class="team_avatar">
        </div>
        <div class="col-8 col-md-8">
            <h3>Dr. Yingfang Yuan</h3>
            <p class="description" style="text-align: left;">Dr Yuan is a Research Fellow at Heriot-Watt University, specializing in Machine Learning, Deep Learning, especially Graph Neural Networks and AutoML. He completed his Ph.D. in 2023 and holds an MSc in Big Data and High-Performance Computing from the University of Liverpool. Yingfang also delves into Blockchain technology, trustworthy AI, and has a knack for applying AI to address real-world challenges.</p>
        </div>
    </div>
</div>

<div class="row" style="background-color: rgb(244, 244, 244); margin-top: 50px;">
    <div class="row">
        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            <h2 class="team-title" style="margin-left: 50px;">Game Developer</h2>
        </div>
        <div class="col-4 col-md-4">
            <img src="/assets/img/g1.png" class="team_avatar">
        </div>
        <div class="col-8 col-md-8">
            <h3>Kefan Chen</h3>
            <p class="description" style="text-align: left;">Kenfan Chen is a current Ph.D. candidate in Computer Science at Heriot-Watt University, specializing in Explainable AI and Human-Computer Interaction. He earned his Master's degree in Artificial Intelligence with Distinction from the University of Aberdeen in 2019. Before his Ph.D, he worked as a research and development engineer at a top-tier AAA game company. Kenfan's current passions include game development and AI algorithm research.</p>
        </div>
    </div>
</div>

<div class="row" style="background-color: rgb(244, 244, 244); margin-top: 50px;">
    <div class="row">
        <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
            <h2 class="team-title" style="margin-left: 50px;">Frontend Developer</h2>
        </div>
        <div class="col-4 col-md-4">
            <img src="/assets/img/l1.png" class="team_avatar">
        </div>
        <div class="col-8 col-md-8">
            <h3>Lewis</h3>
            <p class="description" style="text-align: left;">Lewis is a front-end development engineer with experience in a multinational gaming company. He has a strong academic background in computer science and specialize in creating engaging user interfaces and improving web page performance. He is passionate about new technologies and committed to enhancing user experience through technological innovation.</p>
        </div>
    </div>
</div>

